*{
  margin:0;
  padding: 0;
}
.clear{
  clear: both;
}
main{
  width: 500px;
  height: 500px;
  margin:0 auto;
}
.game-container{
  width: 94%;
  height: 94%;
  padding: 3%;
  background-color: #bbada0;
}
.grid-container{
  width: 100%;
  height: 100%;
}
.grid-row{
  width: 100%;
  height: 106.25px/470px*100%;
  margin-bottom: 15px/470px*100%;
}

.grid-cell{
  width:106.25px/470px*100%;
  height: 100%;
  margin-right: 15px/470px*100%;
  background-color: #cdc1b4;
  float: left;
}
.grid-cell:last-child{
  margin-right: 0;
}
